<div class="ui-n-24" [formGroup]="addForm" style="overflow: hidden">
  <i class="pi pi-angle-left" pTooltip="返回" (click)="return()" style="cursor: pointer;font-size: 3em"></i>
  <div class="ui-n-24">
    <p-card subheader="公司基本信息" [style]="{width: '100%',height: 'auto'}">
      <div class="row">
        <div class="col-md-3">
          <label>公司代码</label>
          <input type="text" class="form-control" formControlName="companyId">
          <p-message severity="error" text="此项必填"
            *ngIf="!addForm.controls['companyId'].valid&&addForm.controls['companyId'].dirty">
          </p-message>
        </div>
        <div class="col-md-4">
          <label>公司名称</label>
          <input type="text" class="form-control" formControlName="companyName">
          <p-message severity="error" text="此项必填"
            *ngIf="!addForm.controls['companyName'].valid&&addForm.controls['companyName'].dirty">
          </p-message>
        </div>
        <div class="col-md-5">
          <label>公司地址</label>
          <input type="text" class="form-control" formControlName="companyAddress">
          <p-message severity="error" text="此项必填"
            *ngIf="!addForm.controls['companyAddress'].valid&&addForm.controls['companyAddress'].dirty">
          </p-message>
        </div>
        <div class="col-md-3">
          <label>公司固话</label>
          <p-inputMask mask="(999) 999-9999" size="32" formControlName="companyPhone" placeholder="(999) 999-9999"></p-inputMask>
          <p-message severity="error" [text]="addForm.controls['companyPhone'].errors['required'] ? '固话不能为空' : 
          ''" *ngIf="!addForm.controls['companyPhone'].valid&&addForm.controls['companyPhone'].dirty">
          </p-message>
        </div>
        <div class="col-md-3">
          <label>公司邮箱</label>
          <input type="text" class="form-control" formControlName="companyEmail">
          <p-message severity="error" [text]="addForm.controls['companyEmail'].errors['required'] ? '邮箱不能为空' : 
          addForm.controls['companyEmail'].errors['email'] ? '请注意邮箱格式' : 
          ''"
            *ngIf="!addForm.controls['companyEmail'].valid&&addForm.controls['companyEmail'].dirty">
          </p-message>
        </div>
      </div>
    </p-card>
  </div>
  <div class="ui-n-24">
    <p-card subheader="联系人基本信息" [style]="{width: '100%',height: 'auto'}">
      <div class="row">
        <div class="col-md-3">
          <label>姓名</label>
          <input type="text" class="form-control" formControlName="linkMan">
          <p-message severity="error" text="此项必填"
            *ngIf="!addForm.controls['linkMan'].valid&&addForm.controls['linkMan'].dirty">
          </p-message>
        </div>
        <div class="col-md-3">
          <label>所在部门</label>
          <input type="text" class="form-control" formControlName="department">
          <p-message severity="error" text="此项必填"
            *ngIf="!addForm.controls['department'].valid&&addForm.controls['department'].dirty">
          </p-message>
        </div>
        <div class="col-md-3">
          <label>所任职位</label>
          <input type="text" class="form-control" formControlName="duty">
          <p-message severity="error" text="此项必填"
            *ngIf="!addForm.controls['duty'].valid&&addForm.controls['duty'].dirty">
          </p-message>
        </div>
        <div class="col-md-3">
          <label>联系电话</label>
          <input type="text" class="form-control" formControlName="linkPhone">
          <p-message severity="error" text="此项必填"
            *ngIf="!addForm.controls['linkPhone'].valid&&addForm.controls['linkPhone'].dirty">
          </p-message>
        </div>
        <div class="col-md-3">
          <label>邮箱</label>
          <input type="text" class="form-control" formControlName="linkEmail">
          <p-message severity="error"  [text]="addForm.controls['linkEmail'].errors['required'] ? '邮箱不能为空' : 
          addForm.controls['linkEmail'].errors['email'] ? '请注意邮箱格式' : 
          ''"
            *ngIf="!addForm.controls['linkEmail'].valid&&addForm.controls['linkEmail'].dirty">
          </p-message>
        </div>
      </div>
    </p-card>
  </div>
  <div class="ui-n-24">
    <p-card subheader="结算账户" [style]="{width: '100%',height: 'auto'}">
      <div class="row">
        <div class="col-md-3">
          <label>账号</label>
          <input type="text" class="form-control" formControlName="bankAccount">
          <p-message severity="error" text="此项必填"
            *ngIf="!addForm.controls['bankAccount'].valid&&addForm.controls['bankAccount'].dirty">
          </p-message>
        </div>
        <div class="col-md-3">
          <label>银行名称</label>
          <input type="text" class="form-control" formControlName="bankName">
          <p-message severity="error" text="此项必填"
            *ngIf="!addForm.controls['bankName'].valid&&addForm.controls['bankName'].dirty">
          </p-message>
        </div>
        <div class="col-md-3">
          <label>结算币种</label>
          <input type="text" class="form-control" formControlName="currency">
          <p-message severity="error" text="此项必填"
            *ngIf="!addForm.controls['currency'].valid&&addForm.controls['currency'].dirty">
          </p-message>
        </div>
      </div>
      <p-footer>

        <p-dialog header="网页提示" [modal]="true" [(visible)]="display" [style]="{width: '400px', height: '50px'}">
          <div *ngIf="success" style="height:30px;font-size: 1em">
            <span>
              <i class="pi pi-info-circle"></i>
            </span>
            <span>添加公司信息成功！</span>
          </div>
          <div *ngIf="failured" style="height:30px;font-size: 1em">
            <span>
              <i class="pi pi-exclamation-triangle"></i>
            </span>
            <span>无法添加此，请查询公司是否已存在！</span>
          </div>
          <p-footer>
            <button type="button" pButton (click)="return()" label="确定"></button>
          </p-footer>
        </p-dialog>

        <div class="col-md-15 col-md-offset-5" style="margin-top:20px;">
          <button type="submit" pButton label="提交" [disabled]="addForm.invalid" (click)="confirmBtnOnClick()"></button>
          <button type="reset" pButton label="取消" class="ui-button-secondary"></button>
        </div>
      </p-footer>
    </p-card>
  </div>
</div>
