  <div class="ui-g">
    <div [formGroup]="contractForm" class="four_Twenty-eight update">
      <div class="list">
        <p class="main">合同编号</p>
        <input value="{{selectedContract.contractId}}" type="text" pInputText formControlName="contractId"
          required="required" title="请输入4位及以上的字符" autofocus="autofocus">
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['contractId'].valid&&contractForm.controls['contractId'].dirty">
        </p-message>
      </div>
      <div class="list">
        <p>合同名称</p>
        <input value="{{selectedContract.contractName}}" type="text" pInputText formControlName="contractName">
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['contractName'].valid&&contractForm.controls['contractName'].dirty">
        </p-message>
      </div>
      <div class="list">
        <p>当前状态</p>
        <input value="{{selectedContract.contractStatus}}" type="text" pInputText formControlName="contractStatus">
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['contractStatus'].valid&&contractForm.controls['contractStatus'].dirty">
        </p-message>
      </div>
      <div class="list">
        <p>险种类型</p>
        <p-dropdown formControlName="reinsType" [options]="reinsTypeList" placeholder="请选择险种">
        </p-dropdown>
        <p-message style="position: relative;" severity="error" text="此项必填"
          *ngIf="!contractForm.controls['reinsType'].valid&&contractForm.controls['reinsType'].dirty">
        </p-message>
      </div>
      <div class="list">
        <p>再保公司</p>
        <p-dropdown formControlName="companyName" [options]="companyList" placeholder="请选择再保公司"></p-dropdown>
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['companyName'].valid&&contractForm.controls['companyName'].dirty">
        </p-message>
      </div>
      <div class="list">
        <p>分保类型</p>
        <p-dropdown formControlName="contractType" [options]="contractTypeList" placeholder="请选择分保类型"
          (onChange)="contractTypeOnChange()">
        </p-dropdown>
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['contractType'].valid&&contractForm.controls['contractType'].dirty">
        </p-message>
      </div>
      <div class="list">
        <p>签订日期</p>
        <p-calendar formControlName="signDate" yearRange="2000:2019" [yearNavigator]="true">
        </p-calendar>
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['signDate'].valid&&contractForm.controls['companyName'].dirty">
        </p-message>
      </div>
      <div class="list">
        <p>生效日期</p>
        <p-calendar formControlName="beginDate" yearRange="2000:2019" [yearNavigator]="true">
        </p-calendar>
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['beginDate'].valid&&contractForm.controls['beginDate'].dirty">
        </p-message>
      </div>
      <div class="list">
        <p>结束日期</p>
        <p-calendar formControlName="endDate" yearRange="2000:2030" [yearNavigator]="true">
        </p-calendar>
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['endDate'].valid&&contractForm.controls['endDate'].dirty">
        </p-message>
      </div>
      <div class="list" *ngIf="surplus">
        <p>合约限额</p>
        <input type="text" pInputText formControlName="contract_limit">
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['contract_limit'].valid&&contractForm.controls['contract_limit'].dirty">
        </p-message>
      </div>
      <div class="list" *ngIf="quotaAshore">
        <p>自留部分</p>
        <input type="text" pInputText formControlName="retention">
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['retention'].valid&&contractForm.controls['retention'].dirty">
        </p-message>
      </div>
      <div class="list" *ngIf="surplus">
        <p>线数</p>
        <input type="text" pInputText formControlName="line_no">
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['line_no'].valid&&contractForm.controls['line_no'].dirty">
        </p-message>
      </div>
      <div class="list" *ngIf="quotaAshore">
        <p>分出部分</p>
        <input type="text" pInputText formControlName="split_amount">
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['split_amount'].valid&&contractForm.controls['split_amount'].dirty">
        </p-message>
      </div>
      <div class="list" *ngIf="surplus">
        <p>自留部分</p>
        <input type="text" pInputText formControlName="risk_unit">
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['risk_unit'].valid&&contractForm.controls['risk_unit'].dirty">
        </p-message>
      </div>
      <div class="list" *ngIf="quotaAshore">
        <p>最高限额</p>
        <input type="text" pInputText formControlName="ceiling_top">
        <p-message severity="error" text="此项必填"
          *ngIf="!contractForm.controls['ceiling_top'].valid&&contractForm.controls['ceiling_top'].dirty">
        </p-message>
      </div>
      <div class="list">
        <p>合同备注:</p>
        <textarea formControlName="description" rows="3" cols="100" pInputTextarea
          value="{{selectedContract.description}}"></textarea>
      </div>
      <div class="ui-g-5"></div>
      <div class="ui-g-3" style="width:100%;text-align:center;">
        <button pButton type="submit" label="提交" (click)="modifyDialog=false" [disabled]="contractForm.invalid"
          class="ui-button-rounded"></button>
        <button pButton type="reset" label="取消" (click)="modifyDialog=false"
          class="ui-button-rounded ui-button-secondary"></button>
      </div>
    </div>
  </div>