/* All */

p {
    margin: 0;
}

a {
    text-decoration: none;
}


/* All */

#Login {
    display: flex;
    /* align-items: center; */
    height: 100vh;
}

.main {
    display: block;
    width: 470px;
    margin: 0 auto;
    padding: 80px 0;
}

.Title {
    height: 100px;
    width: 100%;
}

.Title p {
    display: block;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
}

.Title_Type {
    display: flex;
    width: 100%;
}

.Title_Type a {
    width: 50%;
}

.Title_Type a p {
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #7b7b7b;
    font-size: 18px;
}

.Title_Type a .login_register {
    background: #474a4c;
}

.Login {
    display: block;
}

.Login .Login_input {
    display: block;
}

.Login .Login_input .Number,
.Login .Login_input .Password {
    display: flex;
    height: 38px;
    padding-top: 20px;
    box-sizing: content-box;
    position: relative;
}

.Login .Login_input .Number img,
.Login .Login_input .Password img {
    display: block;
    height: 38px;
    width: 38px;
}

.Login .Login_input .Number input,
.Login .Login_input .Password input {
    display: block;
    height: 38px;
    /* width: calc( 100% - 38px); */
    width: 400px;
    padding: 0 10px;
    font-size: 16px;
}

#Login .main .Login .Login_input .Number p-message,
#Login .main .Login .Login_input .Password p-message {
    position: absolute;
    height: 38px;
    line-height: 38px;
    right: 10px;
}

.Login .Login_Title {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

.Login .Login_Title a {
    display: block;
}

.Login .Login_Title a:first-child {
    display: flex;
    align-items: center;
}

.Login .Login_Title a p {
    color: #000;
    display: block;
    padding: 0 3px;
}

.Login .Submit {
    display: block;
    width: 100%;
}

.Login .Submit button {
    display: block;
    width: 100%;
    background: #474a4c;
    color: #fff;
    height: 38px;
    border: none;
    font-size: 18px;
}

.Login .hr {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.Login .hr p {
    font-size: 16px;
    display: block;
}