<div [formGroup]="addContractForm">
  <i class="pi pi-angle-left" pTooltip="返回" (click)="return()" style="cursor: pointer;font-size: 3em"></i>
  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-3">
      <h4>合同名称</h4>
      <input type="text" pInputText formControlName="contractName">
      <p-message severity="error" text="此项必填"
        *ngIf="!addContractForm.controls['contractName'].valid&&addContractForm.controls['contractName'].dirty">
      </p-message>
    </div>
    <div class="ui-g-3">
      <h4>生效日期</h4>
      <p-calendar formControlName="beginDate" yearRange="2000:2019" [yearNavigator]="true" [touchUI]="true"
        (onSelect)="testDate()">
      </p-calendar>
      <p-message severity="error" text="此项必填"
        *ngIf="!addContractForm.controls['beginDate'].valid&&addContractForm.controls['beginDate'].dirty">
      </p-message>
    </div>
    <div class="ui-g-3">
      <h4>结束日期</h4>
      <p-calendar formControlName="stopDate" yearRange="2000:2030" [yearNavigator]="true" [touchUI]="true"></p-calendar>
      <p-message severity="error" text="此项必填"
        *ngIf="!addContractForm.controls['stopDate'].valid&&addContractForm.controls['stopDate'].dirty">
      </p-message>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-3">
      <h4>保险金额</h4>
      <input type="text" pInputText formControlName="total">
      <p-message severity="error" text="此项必填"
        *ngIf="!addContractForm.controls['total'].valid&&addContractForm.controls['total'].dirty">
      </p-message>
    </div>
    <div class="ui-g-3">
      <h4>赔款</h4>
      <input type="text" pInputText formControlName="pay">
      <p-message severity="error" text="此项必填"
        *ngIf="!addContractForm.controls['pay'].valid&&addContractForm.controls['pay'].dirty">
      </p-message>
    </div>
    <div class="ui-g-3">
      <h4>保费</h4>
      <input type="text" pInputText formControlName="insurance_expence">
      <p-message severity="error" text="此项必填"
        *ngIf="!addContractForm.controls['insurance_expence'].valid&&addContractForm.controls['insurance_expence'].dirty">
      </p-message>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-3">
      <h4>再保公司</h4>
      <p-dropdown formControlName="companyName" [options]="companyList" placeholder="请选择再保公司"></p-dropdown>
      <p-message severity="error" text="此项必填"
        *ngIf="!addContractForm.controls['companyName'].valid&&addContractForm.controls['companyName'].dirty">
      </p-message>
    </div>
    <div class="ui-g-3">
      <h4>险种类型</h4>
      <p-dropdown formControlName="reinsTypeName" [options]="reinsTypeList" placeholder="请选择险种">
      </p-dropdown>
      <p-message severity="error" text="此项必填"
        *ngIf="!addContractForm.controls['reinsTypeName'].valid&&addContractForm.controls['reinsTypeName'].dirty">
      </p-message>
    </div>
    <div class="ui-g-4" style="width: 100px;">
      <h4>分保类型</h4>
      <p-dropdown formControlName="contractTypeName" [options]="contractTypeList" placeholder="请选择分保类型"
        (onChange)="contractTypeOnChange()">
      </p-dropdown>
      <p-message severity="error" text="此项必填"
        *ngIf="!addContractForm.controls['contractTypeName'].valid&&addContractForm.controls['contractTypeName'].dirty">
      </p-message>
    </div>
  </div>

  <div class="ui-g" *ngIf="quotaAshore">
    <div class="ui-g-2"></div>
    <div class="ui-g-3">
      <h4>自留比例</h4>
      <input type="text" pInputText formControlName="retention_ratio">
      <p-message severity="error" text="此项必填"
        *ngIf="!addContractForm.controls['retention_ratio'].valid&&addContractForm.controls['retention_ratio'].dirty">
      </p-message>
    </div>
    <div class="ui-g-3">
      <h4>最高限额</h4>
      <input type="text" pInputText formControlName="ceiling_top">
      <p-message severity="error" text="此项必填"
        *ngIf="!addContractForm.controls['ceiling_top'].valid&&addContractForm.controls['ceiling_top'].dirty">
      </p-message>
    </div>
  </div>

  <div class="ui-g" *ngIf="surplus">
    <div class="ui-g-2"></div>
    <div class="ui-g-3">
      <h4>自留额</h4>
      <input type="text" pInputText formControlName="retention">
      <p-message severity="error" text="此项必填"
        *ngIf="!addContractForm.controls['retention'].valid&&addContractForm.controls['retention'].dirty">
      </p-message>
    </div>
    <div class="ui-g-3">
      <h4>线数</h4>
      <input type="text" pInputText formControlName="line_num">
      <p-message severity="error" text="此项必填"
        *ngIf="!addContractForm.controls['line_num'].valid&&addContractForm.controls['line_num'].dirty">
      </p-message>
    </div>
  </div>

  <div class="ui-g" style="margin-top:10px;">
    <div class="ui-g-2"></div>
    <div class="ui-g-3">
      <h4>合同备注:</h4>
      <textarea formControlName="description" rows="3" cols="100" pInputTextarea></textarea>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-3"></div>
    <div class="ui-g-3">
      <button pButton type="submit" label="提交" [disabled]="addContractForm.invalid" class="ui-button-rounded"
        (click)="submitAddMsg()"></button>
      <button pButton type="reset" label="取消" class="ui-button-rounded ui-button-secondary"></button>
    </div>
  </div>
</div>
