<div class="container-fluid">
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g ui-md-offset-3">
      <div class="ui-g-12 ui-md-8">
        <input type="text" class="form-control">
      </div>
      <div class="ui-g-12 ui-md-4">
        <button pButton type="button" icon="pi pi-search"></button>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-g-nopad" style="text-align:center">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-4" *ngFor="let user of users">
        <p-card header="{{user.username}}" subheader="系统业务员" styleClass="ui-card-shadow">
          <p-header>
            <img src="Card" src="assets/img/usercard.png">
          </p-header>
          <div>
            <div style="text-align:left;position: relative;;color:teal">
              用户姓名：{{user.username}}
              <br>
              性别：{{user.sex}}
              <br>
              手机号码：{{user.phone}}
              <br>
              email: {{user.email}}
              <br>
              现居住地：{{user.address}}
              <br>
              用户角色：系统业务员
            </div>
          </div>
          <p-footer>
            <button pButton type="button" icon="pi pi-pencil" style="margin-right: .25em"></button>
            <button pButton type="button" icon="pi pi-trash" class="ui-button-danger"></button>
          </p-footer>
        </p-card>
      </div>
    </div>
  </div>
</div>
