<p-table #dt [columns]="cols" [value]="reinsTypes" [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div style="text-align: center">
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      <input icon="pi pi-search" type="text" pInputText size="50" placeholder="全局搜索"
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
      <th>操作</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td>
        <i style="cursor: pointer;" class="pi pi-pencil" (click)="editReinsType(rowData)"></i>
        <i style="cursor: pointer;" class="pi pi-trash" (click)="deleteReinsType($event,rowData)"></i>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="pi pi-plus" (click)="addReinsType()" label="Add"></button>
    </div>
  </ng-template>
</p-table>

<div [formGroup]="reinsTypeForm">

  <!-- 新增险种 -->
  <p-dialog header="录入新险种" [(visible)]="addDialog" [modal]="true" [responsive]="true" [style]="{width: '500px'}">
    <div class="ui-n-24">
      <div class="ui-n-24">
        <h4>险种名称</h4>
        <input type="text" pInputText formControlName="reinsTypeName">
      </div>
      <div class="ui-n-24" style="margin-top:10px">
        <h4>备注信息</h4>
        <textarea rows="3" cols="20" pInputTextarea formControlName="description"></textarea>
      </div>
    </div>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="submitAddMessage()" label="提交"></button>
      <button type="button" pButton icon="pi pi-times" (click)="addDialog=false" label="取消"
        class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>

  <!-- 修改险种 -->
  <p-dialog header="修改险种" [(visible)]="modifyDialog" [modal]="true" [responsive]="true" [style]="{width: '500px'}">
    <div class="ui-n-24">
      <div class="ui-n-24">
        <h4>险种编号</h4>
        <input type="text" pInputText formControlName="reinsTypeId">
      </div>
      <div class="ui-n-24">
        <h4>险种名称</h4>
        <input type="text" pInputText formControlName="reinsTypeName">
      </div>
      <div class="ui-n-24" style="margin-top:10px">
        <h4>备注信息</h4>
        <textarea rows="3" cols="20" pInputTextarea formControlName="description"></textarea>
      </div>
      <div class="ui-n-24" style="margin-top:10px">
        <h4>当前状态</h4>
        <input type="text" pInputText formControlName="typeStatus">
      </div>
    </div>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="submitModifyMessage()" label="提交"></button>
      <button type="button" pButton icon="pi pi-times" (click)="submitModifyMessage()" label="取消"
        class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>

</div>
