<div [formGroup]="updataPwdForm" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
  <div class="ui-grid-row">
    <div class="ui-grid-col-2"></div>
    <div class="ui-grid-col-4">
      <input class="form-control" type="text" formControlName="oldPassword" placeholder="请输入旧密码" />
    </div>
    <p-message severity="error" [text]="updataPwdForm.controls['oldPassword'].errors['required'] ? '密码不能为空' : 
    updataPwdForm.controls['oldPassword'].errors['minlength'] ? '不能小于6个字符' : 
    updataPwdForm.controls['oldPassword'].errors['maxlength'] ? '不能大于20个字符' :''"
      *ngIf="!updataPwdForm.controls['oldPassword'].valid&&updataPwdForm.controls['oldPassword'].dirty">
    </p-message>
  </div>
  <div class="ui-grid-row" style="margin-top:10px;">
    <div class="ui-grid-col-2"></div>
    <div class="ui-grid-col-4">
      <input class="form-control" type="text" formControlName="newPassword" placeholder="请输入新密码" />
    </div>
    <p-message severity="error" [text]="updataPwdForm.controls['newPassword'].errors['required'] ? '密码不能为空' : 
    updataPwdForm.controls['newPassword'].errors['minlength'] ? '不能小于6个字符' : 
    updataPwdForm.controls['newPassword'].errors['maxlength'] ? '不能大于20个字符' :''"
      *ngIf="!updataPwdForm.controls['newPassword'].valid&&updataPwdForm.controls['newPassword'].dirty">
    </p-message>
  </div>
  <div class="ui-grid-row" style="margin-top:10px;">
    <div class="ui-grid-col-2"></div>
    <div class="ui-grid-col-4">
      <input class="form-control" type="text" formControlName="repeatPwd" placeholder="再输一次" />
    </div>
    <p-message severity="error" [text]="updataPwdForm.controls['repeatPwd'].errors['required'] ? '密码不能为空' : 
    updataPwdForm.controls['repeatPwd'].errors['minlength'] ? '不能小于6个字符' : 
    updataPwdForm.controls['repeatPwd'].errors['maxlength'] ? '不能大于20个字符' :''"
      *ngIf="!updataPwdForm.controls['repeatPwd'].valid&&updataPwdForm.controls['repeatPwd'].dirty">
    </p-message>
  </div>
  <div class="ui-grid-row" style="margin-top:10px;">
    <div class="ui-grid-col-2"></div>
    <div class="ui-grid-col-4">
      <button pButton type="submit" label="提交" [disabled]="updataPwdForm.invalid"></button>
    </div>
    <div class="ui-grid-col-4"></div>
  </div>
</div>
