<div id="top">
    <ul class="right"></ul>
    <h1 class="left">再保险信息管理系统</h1>
    <!-- 友邦 -->
</div>
<div id="main">
    <div class="left" id="menu" style="background-size:cover;background-repeat:no-repeat;">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/ReinsCompanyManagement" target="mainframe">再保公司管理</a></li>
            <li role="presentation"><a href="/ReinsContractManagement" target="mainframe">再保合同管理</a></li>
            <li role="presentation"><a href="/ReinsTypesManagement" target="mainframe">险种管理</a></li>
            <li role="presentation"><a routerLink="/ReinsContractManagement" target="mainframe">理赔管理</a></li>
            <li role="presentation"><a routerLink="/ReinsContractManagement" target="mainframe">临分管理</a></li>
            <li role="presentation"><a routerLink="/ReinsCalculation" target="mainframe">再保计算</a></li>
            <li role="presentation"><a routerLink="/ReinsContractManagement" target="mainframe">系统设置</a></li>
        </ul>
    </div>
    <div id="content">
        <div class="item">
            <iframe name="mainframe" style="margin:0;padding:0;height:100%;width:100%;right:0px;border:solid 0px red;"></iframe>
        </div>
    </div>
</div>