<div class="ui-g-24 ui-g-nopad">
  <div class="ui-g">
    <div class="ui-g-24 ui-md-12">
      <p-table #dt [columns]="cols" [value]="reinsClaimArr" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
          <div style="text-align: center">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input icon="pi pi-search" type="text" pInputText size="50" placeholder="全局搜索"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
            <th>操作</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
            <td>
              <i style="cursor: pointer;" class="pi pi-trash" (click)="delete($event,rowData)"></i>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:left">
            <button type="button" pButton icon="pi pi-plus" label="新增" (click)="addBtnOnClick()"></button>
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- 新增理赔件 -->
  <div class="ui-g-24" *ngIf="add">
    <app-add-claim></app-add-claim>
  </div>

</div>
